<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>{{ title }}</title>
   <meta name="description" content="DESCRIPTION">
   <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
        <div class="logo">{{ title }}</div>
        <ul class="nav-links">
            <li><a href="/">CKOI1CRUD(pasça)</a></li>
            <li><a href="/colorChart">ColorRace</a></li>
        </ul>